<h1 style="text-align: center;padding: 5rem 0;font-size: 2rem;font-family:cursive;word-spacing: 1rem; "> Ils parlent de nous</h1>
  

<div   class="container">
    <div class="row">
      <div class="col text-center">
        Le CEO Doqtoor était l'invité de radio <a style="color:rgb(48, 171, 187)!important" href="https://radioexpressfm.com/shows/expresso-week-end-samedi/" target="_blank">Express FM</a>
        <br> <br> <br><br><img style="height: 15rem;" src="https://www.doqtoor.com/content/83e5a5bb9705fd64554ee9cefac7845f.png" alt="expressIFM">
    </div>
      <div class="col">
       <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JfkzCmRUvRE" allowfullscreen></iframe>
  </div>
      </div>
    </div>
</div>