<nav class="navbar  bg-light navbar-light navbar-expand-lg">
    <div class="container">

        <a class="navbar-brand">
            <!--<img src="https://media-exp1.licdn.com/dms/image/C560BAQEn-weIjVA6MQ/company-logo_200_200/0/1590765455769?e=2159024400&v=beta&t=dMAf9NSyvkq9kSS7fZZCTNbfc1AkNYYsPRG2f1RWF_I" alt="logo" title="logo">--></a>
            <h1>DOQTOOR</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a  class="nav-link active">Acceuil</a></li>
                        <li class="nav-item"><a  class="nav-link">Questions récentes</a></li>
                        <li class="nav-item"><a  class="nav-link">Poser votre Question</a></li>
                        <li class="nav-item"><a  class="nav-link">Compte</a></li>
                    
                </ul>
            </div>
  
  
        </div>
</nav>


