
<div class="main">
    <img src="assets/Images/mainImg.jpg" alt="mainImage" class="img-fluid w-100">
    <div class="centered">
        <div class="row justify-content-center">
        <div class="col-8 bg-custom d-none d-lg-block">
            <h1 style="text-align: center;">Doqtoor</h1>
            <div class="border-top border-primary w-100">
                <h3 style="text-align: center;">Téléconseil médical en Tunisie</h3><br>
                <a style="margin-left: 50rem;margin-bottom: 1rem;" href="" class="btn btn-danger btn-lg">Poser votre question</a>
            </div>
        </div></div>
        </div>
  </div>