
  <section id="hero1" class="hero">
    <div class="inner">
 <div class="copy">
  <div class="container">
	<div class="row justify-content-between">
	  <div class="col-4">
		<h1>Avantages pour les patients</h1><br>
		<p>Une réponse claire à votre question</p>
		<p>Ni prise de rendez-vous, ni déplacement, ni salle d'attente</p>
		<p>Pas de multitudes de réponses</p>
		<p>Pas de discussions illimités</p>
	  </div>
	  <div class="col-4">
		<h1>Avantages pour les médecins</h1><br>
		<p>Le soutien et l'aide réelle aux citoyens</p>
		<p>Le soulagement de la pression téléphonique sur le 190</p>
		<p>Eviter les complications sanitaires</p>
		<p>Sauver des vies à distance</p>
	  </div>
	</div>
<br><br>
  </div>
  <div class="container">
	<div class="row justify-content-between">
		<div class="col-4">
			<button class="button button1" type="button" data-toggle="modal" data-target="#modal1">Inscription patient</button>

		</div>
		<div class="col-4">
			<button class="button button1"  type="button" data-toggle="modal" data-target="#modal2">Inscription médecin</button>

		</div>
	</div>
  </div>
  </div>
  </div>
  </section>




<!-- Modal for patient HTML -->
<div id="modal1" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
		
				<h4 class="modal-title">Inscription patient</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form action="/examples/actions/confirmation.php" method="post">
					<div class="form-group">
						<input type="text" class="form-control" name="nom" placeholder="Nom" required="required">		
					</div>
          <div class="form-group">
						<input type="text" class="form-control" name="prénom" placeholder="Prénom" required="required">		
					</div>
          <div class="form-group">
						<input type="text" class="form-control" name="email" placeholder="Email" required="required">		
					</div>
          <div class="form-group">
						<input type="text" class="form-control" name="mot de passe" placeholder="mot de passe" required="required">		
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="confirmation de mot de passe" placeholder="Confirmation de mot de passe" required="required">	
					</div>        
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Inscription</button>
					</div>
				</form>
			</div>
		</div>
	</div>
 </div>

 <!-- Modal for doctor HTML -->
 <div id="modal2" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
		
				<h4 class="modal-title">Inscription médecin</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form action="/examples/actions/confirmation.php" method="post">
					<div class="form-group">
						<input type="text" class="form-control" name="nom" placeholder="Nom" required="required">		
					</div>
          <div class="form-group">
						<input type="text" class="form-control" name="prénom" placeholder="Prénom" required="required">		
					</div>
          <div class="form-group">
						<input type="text" class="form-control" name="email" placeholder="Email" required="required">		
					</div>
          <div class="form-group">
						<input type="text" class="form-control" name="mot de passe" placeholder="mot de passe" required="required">		
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="confirmation de mot de passe" placeholder="Confirmation de mot de passe" required="required">	
					</div>        
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Inscription</button>
					</div>
				</form>
			</div>
		</div>
	</div>