<main>
    <div class="container py-4">

  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <p style="font-size: 18.75px;font-weight: 300;
          text-align-last: left;" class="col-md-8">
            La plateforme doqtoor est dédiée au télé-conseil médical, 
            vous permettant de poser vos questions aux médecins volontaires. Bientôt la télé-consultation en vidéo sera disponible.</p>
          <button
           style="width: 10rem;margin-left: 1rem;" 
           class="btn btn-primary btn-lg btn1" type="button"><a style="text-decoration: none;color: white!important;" href="https://www.youtube.com/watch?v=02kE66hFBx0&feature=emb_logo" target="_blank"> Demo</a></button>
        </div>
      </div>
  
     <!-- <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 rounded-3">
           <img src="https://www.doqtoor.com/content/09275a4414e6e59b298b8cfa059d9b33.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div  class="h-100 p-5">
            <h2>Vous êtes patient ?</h2>
            <p>Profiter de l'expertise de nos médecins en posant votre question ou en consultant les questions résolues</p><br>
            <h2>Vous êtes médecin ?</h2>
            <p>Apporter votre expertise aux services des citoyens en répondant à leurs interrogations</p>
          </div>
        </div>
      </div>

    </div>
  </main>-->

  <div class="container">
    <div class="row my-5">
      <div class="col-md-6 my-6">
        <img src="https://www.doqtoor.com/content/09275a4414e6e59b298b8cfa059d9b33.png" alt="" class="w-100">
      </div>

      <div class="col-md-4 my-4">
        <h2>Vous êtes patient ?</h2>
        <p>Profiter de l'expertise de nos médecins en posant votre question ou en consultant les questions résolues</p><br>
        <h2>Vous êtes médecin ?</h2>
        <p>Apporter votre expertise aux services des citoyens en répondant à leurs interrogations</p>
      </div>
    </div>
  </div>
  
