
    <div class="demo-row">
        <div class="container" id="id-sponsors">
          <div class="text-center">
            <h1 style="text-align: center;padding: 5rem 0;font-size: 2rem;font-family:cursive;word-spacing: 1rem; "> Ils nous ont fait confiance</h1>
        </div>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="row">
                <div class="col-sm">
                  <div class="sponsor-feature"><img alt="" src="https://www.doqtoor.com/content/291a218853d4f920495e3615d05d4932.png" style="width: 150px;height: 150px;" /></div>
                </div>
                <div class="col-sm">
                  <div class="sponsor-feature"><img alt="" src="https://www.doqtoor.com/content/529b67d61e2a71b1dd1a52d6869caa35.png" style="width: 150px; height: 150px;" /></div>
                </div>
                <div class="col-sm">
                  <div class="sponsor-feature"><img alt="" src="https://www.doqtoor.com/content/167917e65832ca7aa7324435defeb21d.png" style="width: 150px;height: 150px;" /></div>
                </div>

              </div>
            </div>
          </div>
        </div>
        </div>

